section{
    margin: 50px auto;
    border: 1px black solid;
    width: 350px;
    height: 500px;
}

#unorderedList{
    border-bottom: 1px black solid;
}

.nav-item{
    margin: .3em;
    cursor: pointer;
}

#textFormat{
    height: 435px;
    width: 350px;
    
}
